.html {
    font-size: 62.5%;
}

.cover {
    margin: 1vw;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
    //width: 45.5%;
    display: block;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
 }
  .analys{
    margin: 9vw;
    position: absolute;
    margin-top: 0;
    width: 50vw;
    padding: 0;
    border: none;
    display: inline;
 }
 .btn0{
    margin: 0;
    position: relative;
    left: 53%;
    width: 7%;
    height: 5%;
    padding: 0;
    border: none;
    display: inline;
    color: #00FF7F;
 }
 .btn1 {
    margin: 1vw;
    margin-left: 7.1vw;
    padding: 0;
    border: none;
    content: url("Picture/sozai_cman_jp_20210502161652.png");
    //background: transparent;
    width: 3.7%;
    height: 7.3%;
    cursor: pointer;
    display: inline;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
 }

 .btn2 {
    margin: 1vw;
    //margin-left: 10%;
    padding: 0%;
    border: none;
    content: url("Picture/sozai_cman_jp_20210628164625.png");
    //background: transparent;
    width: 3.7%;
    height: 7.3%;
    cursor: pointer;
    display: inline;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
 }

.btnloop_off {
    margin: 1vw;
    //margin-left: 15%;
    padding: 0;
    content: url("Picture/sozai_cman_jp_20210628164637.png");
    //background: transparent;
    width: 3.7%;
    height: 7.3%;
    border: none;
    cursor: pointer;
    display: inline;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

 .btnloop_on {
    margin: 1vw;
    //margin-left: 15%;
    padding: 0;
    content: url("Picture/sozai_cman_jp_20210628165117.png");
    //background: transparent;
    width: 3.7%;
    height: 7.3%;
    border: none;
    cursor: pointer;
    display: inline;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

 .volume {
    margin: 1vw;
    //margin-left: 20%;
    padding: 0;
    content: url("Picture/sozai_cman_jp_20210628165821.png");
    //background: transparent;
    width: 3.7%;
    height: 7.3%;
    border: none;
    cursor: pointer;
    display: inline;
    overflow: hidden;
    white-space: nowrap;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
 }
 .mute {
    margin: 1vw;
    //margin-left: 20%;
    padding: 0;
    content: url("Picture/sozai_cman_jp_20210628165342.png");
    //background: transparent;
    width: 3.7%;
    height: 7.3%;
    border: none;
    cursor: pointer;
    display: inline;
    overflow: hidden;
    white-space: nowrap;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
 }
 .vo_sl{
    //-webkit-appearance: none;
    //appearance: none;
    position: relative;
    margin: 0;
    bottom: -1vw;
    right: 6.5vw;
    padding: 0;
    //background: #8acdff;
    //transform: rotate(-90deg);
    height: 3vw;
    width: 7.5vw;
    zindex: 2;
    display: inline;
    cursor: pointer;
    visibility: hidden;
    white-space: nowrap;
 }
 .vo_sl:hover{
    visibility: visible;
    overflow: visible;
}
 .volume:hover + .vo_sl{
    visibility: visible;
    overflow: visible;

} .mute:hover + .vo_sl{
    visibility: visible;
    overflow: visible;
}

 .pt_position{
    position: absolute;
    margin: 0;
    top: 38vw;
    right: 52vw;
    padding: 0;
    //height: 1%;
    //width: 38%;
    font-size: 1.3vw;
    color: white;
    display: inline;
    //visibility: hidden;
 }
 .prog_bar{
    //-webkit-appearance: none;
    //appearance: none;
    position: absolute;
    margin: 1%;
    top: 38vw;
    right: 10vw;
    padding: 0;
    background: #ddd;
    height: 1%;
    width: 40vw;
    display: inline;
    cursor: pointer;
    //visibility: hidden;
 }
 .et_position{
    position: absolute;
    margin: 0;
    top: 38vw;
    right: 7.5vw;
    padding: 0;
    //height: 1%;
    //width: 38%;
    font-size: 1.3vw;
    color: white;
    display: inline;
    //visibility: hidden;
 }

@media only screen and(min-width:651px){
    .pt_position{
        visibility: hidden;
    }
    .et_position{
        visibility: hidden;
}
